// app global css in SCSS form


body{
  color: var(--nord4);
}

h1, h2, h3,h4{
  color: var(--nord2);
}

.bg-title{
  font-size:12rem;
  position: absolute;
  z-index: -1;
}
.bg-title::first-letter{
  font-size: 20rem;
  text-transform: capitalize;
}
